@model List<PaymentSystem.Context.tb_payment>
@{
    ViewBag.Title = "PaymentList";
}

<h2>Payment List</h2>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Value</th>
        <th>Date</th>
        <th>Tax</th>
        <th>Comment</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.cd_payment</td>
            <td>@item.nm_payment</td>
            <td>@item.vl_payment</td>
            <td>@item.dt_payment</td>
            <td>@item.vl_tax_payment</td>
            <td>@item.ds_payment</td>
            <td>
                <a href="@Url.Action("Payment", new {item.cd_payment, item.nm_payment, item.vl_payment, 
                                                     item.dt_payment, item.ds_payment })" class="btn btn-success">Edit</a>

                <a href="@Url.Action("DeletePayment", new { id = item.cd_payment })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

